!  _  _ ____ ____ ____ ____ _  _ ____ ____ ____ ____ 
!   \/  |__/ |___ [__  |  | |  | |__/ |    |___ [__  
! ._/\_ |  \ |___ ___] |__| |__| |  \ |___ |___ ___] 
                                                   
#include ".cache/wal/colors.Xresources"

URxvt.font: xft:scientifica:size=12
URxvt.letterSpace: 1
URxvt.scrollBar: False
URxvt.internalBorder: 25
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: surf
URxvt.matcher.button: 1

twobwm.enable_compton: true
twobwm.border_width: 12
twobwm.outer_border: 8
twobwm.inverted_colors: false

rofi.font: scientifica 12
rofi.theme: ~/.cache/wal/colors-rofi-dark.rasi
