/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */
 
/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@import "machiatto.css";

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */
 
/* Reset all styles */

* {
    color: @text;
    border: 0;
    border-radius: 0;
    padding: 0 0;
    font-family:FiraCode Nerd Font;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    margin-right: 5px;
    margin-left: 5px;
}

window#waybar {
    /* background:#2d2a2e; */
    /* background-color: rgba(36, 39, 58, 1); */
    background-color: @base;
    border-bottom: 2px solid @mauve;
}

#workspaces button {
    padding: 2px 0px;
    border-bottom: 2px;
    color: #eceff4;
    border-color: #d8dee9;
    border-style: solid;
}

#workspaces {
    padding: 8px 1rem;
    /* border-style: solid;
    background-color: shade(@base, 1.4);
    border-radius: 15px; */
}

#workspaces button.focused {
    border-color: #81a1c1;
}

#mode {
    color: #ebcb8b;
}

#clock, #battery, #cpu, #memory,#idle_inhibitor, #temperature,#custom-keyboard-layout, #backlight, #network, #wireplumber, #mode, #tray, #custom-launcher,#custom-power,#custom-pacman {
    padding: 8px 0.5rem;
    border-style: solid;
    /* background-color: shade(@base, 0.9); */
    /* border-radius: 15px; */
}
/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

 
#clock {
 /* background-color:#a3be8c; */
 color: @mauve;
}

#backlight {
    color: @yellow;
    border-bottom: 1px solid @yellow;
}

#battery {
    color: #d8dee9;
    border-bottom: 1px solid #d8dee9;
}

#battery.charging {
    color: #81a1c1;
    border-bottom: 1px solid #81a1c1;
}

@keyframes blink {
    to {
        color: @red;
        border-bottom: 1px solid @red;
    }
}

#battery.critical:not(.charging) {
    color: #bf616a;
    border-bottom: 1px solid #bf616a;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


#network.disabled {
    color: #bf616a;
    border-bottom: 1px solid #bf616a;
}

#network{
    color: @green;
    border-bottom: 1px solid @green;
}

#network.disconnected {
    color: #bf616a;
    border-bottom: 1px solid #bf616a;
}

#wireplumber {
    color: @flamingo;
    border-bottom: 1px solid @flamingo;
}

#wireplumber.muted {
    color: #3b4252;
    border-bottom: 1px solid #3b4252;
}


#idle_inhibitor {
   background-color: #ebcb8b;
   color: @base;
}

#tray {
    /* background-color: @base; */
}

#custom-launcher,#custom-power{
    border-style: hidden;
    color: @mauve;
}

#custom-power {
}

#window{
    border-style: hidden;
    /* margin-top:1px;  
    padding: 8px 1rem; */
}    




